@font-face { font-family: Excelorate; src: url("../font/Excelorate-Font.otf"); }

body{
    background-color: #FFB800; 
}
.maintitle{
    font-family: Excelorate;
    font-size: 300px;
    color: #FF0000;
    padding-top: 100px;;
}

.textnav{
    font-family: Excelorate; 
}

h1{
    font-family: Excelorate;
    padding: 40px;
    font-size: 50px;
    color: #FF0000;
}

.button1{
    background-color: white;
    margin-top: -150px;
    color:#FFB800;
    width: 50%;
}

.btn{
    font-family: Excelorate;
    font-size: 50px;
    border-radius: 50px;
}

.img-abs{
    max-width:200px;
	width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 100px;
    padding-right: 40px;
}
.tamanoimg{
    max-width:40%;
	width: 40%;
}
.banner{
    height: 100vh;
}
.play1{
    background-image: url("../img/background-02.jpg");
    background-size: cover;
}

.play2{
    background-image: url("../img/back-2.png");
    background-size: cover;
}

.play3{
    background-image: url("../img/background-01.jpg");
    background-size: cover;
}

.sizefooter{
    padding: 50px;
}

@media screen and (max-width:820px){
    .img-abs{
        max-width:150px;
        width: 150px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 100px;
        padding-right: 40px;
    }

    .maintitle{
        font-family: Excelorate;
        font-size: 300px;
        color: #FF0000;
        padding-top: 250px;;
    }

    .button1{
        background-color: white;
        margin-top: -50px;
        color:#FFB800;
        width: 50%;
    }

    .play1{
        background-image: url("../img/back-ipad-02.jpg");
        background-size: cover;
    }

    .play2{
        background-image: url("../img/ipad-03.jpg");
        background-size: 100%;
    }

    .play3{
        background-image: url("../img/back-ipad-04.jpg");
        background-size: cover;
    }

    .tamanoimg{
        max-width:70%;
        width: 70%;
    }
}

@media screen and (max-width:375px){
    .img-abs{
        max-width:120px;
        width: 120px;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 100px;
        padding-right: 40px;
    }

    .maintitle{
        font-family: Excelorate;
        font-size: 100px;
        color: #FF0000;
        padding-top: 250px;;
    }

    .button1{
        background-color: white;
        margin-top: -50px;
        color:#FFB800;
        width: 50%;
    }

    .btn{
        font-family: Excelorate;
        font-size: 20px;
        border-radius: 20px;
    }

    h1{
        font-family: Excelorate;
        padding: 40px;
        font-size: 20px;
        color: #FF0000;
    }

    .play1{
        background-image: url("../img/iphone-07.jpg");
        background-size: cover;
    }

    .play2{
        background-image: url("../img/iphone-08.jpg");
        background-size: 100%;
    }

    .play3{
        background-image: url("../img/iphone-09.jpg");
        background-size: cover;
    }

    .tamanoimg{
        max-width:70%;
        width: 70%;
    }

    .sizefooter{
        padding: 20px;
    }
}